@import "../../variables"
    
.main
    background-color: $bg-color
    overflow-y: auto
    min-height: calc(100vh - 54px)
    padding-bottom: 100px

    .items-list
        display: flex
        flex-direction: column
        background-color: #fff
        border-radius: 4px

.full-width-centered
    width: 100%
    display: flex
    justify-content: center
    align-items: center    
    margin-top: 48px